<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dave3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <dave3.Properties.Settings>
          </dave3.Properties.Settings>
    </userSettings>
	<connectionStrings>
		<add name="DefaultConnection" 
		     connectionString="Server=tcp:DCTITAN;Database=delightful;User Id=dave;Password=asdf;TrustServerCertificate=True" 
		     providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>